body {
  background: #000;
}

* {
  box-sizing: border-box;
}

.pen {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.stage {
  margin: auto;
  padding: 1px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective-origin: center;
  transform-style: preserve-3d;
  transform: skewY(-6deg);
}
.stage::before,
.stage::after {
  content: "";
  width: 15%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  left: 17%;
  top: -50%;
  bottom: -50%;
  display: block;
  z-index: 1;
}
.stage::after {
  left: auto;
  right: 17%;
  background-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}

.vortext ~ .vortext {
  margin-top: 0px;
}

.vortext {
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
}
.vortext::before {
  content: "A";
  font-size: 120px;
  color: transparent;
  pointer-events: none;
}
.vortext:first-child ~ * {
  margin-top: -30px;
}

.vortextRibbon {
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  bottom: 0;
  width: 314.15%;
  transform-style: preserve-3d;
  transform-origin: center;
}

.transitionEnabled {
  transition: transform linear 240s;
}

.letterWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: auto;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.letter {
  display: inline-block;
  color: #fff;
  font-size: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.letter > span {
  display: flex;
  height: 100%;
  width: 100%;
  transform: translateZ(500px);
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
